body {
    display: flex;
    justify-content: center;
}

#bg {
    position: relative;
    width: 3000px;
}

.heading {
    font-family: 'Yeseva One', cursive;
    padding: 1.5rem; /* 24px */
    font-size: 3rem;
    /* 48px */
    line-height: 1;
    background: white;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 0.75rem;
    /* 12px */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(230, 239, 245) 100%);
}

.subheading {
    font-family: 'Yeseva One', cursive;
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
}

.slideshow {
    width: 1600px;
    position: absolute;
}

.slide {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding: 1.5rem; /* 24px */
    background: white;
    border-radius: 0.75rem;
    /* 12px */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(224, 239, 248) 100%);
}

#title {
    height: 500px;
    font-family: 'Yeseva One', cursive;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.05em;
    padding-top: 10px;
}

#location_slide {
    height: 960px;
}

#attr_slide {
    height: 800px;
}

#pop_slide {
    height: 775px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#temp {
    position: relative;
    z-index: 0;
}

#temp_overlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding-right: 20px;
}

#wind {
    position: relative;
    z-index: 0;
}

#wind_overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-right: 20px;
    padding-bottom: 220px;
}

#south_pole_clip {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#heatmap {
    position: relative;
    width: 1200px;
    height: 835px;
    z-index: 0;
}

#heatmap_zoom canvas {
    background: #C8EAFD;
}

.buttons .vega-bindings {
    columns: 3;
    padding: 10px;
}

#diet_streamgraph_interactive .vega-bindings {
    padding: 10px;
}

#diet_all_dotmap {
    height: 305px;
}

#diet_dotmap {
    position: relative;
    width: 950px;
    height: 618px;
}

#dotmap_legend {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    width: 100px;
    height: 80px;
    border-radius: 0.5rem;
    margin: 15px;
}

#dotmap {
    background: #C8EAFD;
}