body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    max-width: 1900px;
}

.slideshow {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.slide {
    width: 1900px;
    height: 937px;
}

#south_pole_clip {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#heatmap {
    position: relative;
    width: 1700px;
    height: 800px;
    z-index: 0;
}

.vega-bindings {
    columns: 3;
    padding: 10px;
  }

#wind_radial {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diet_all_dotmap {
    width: 950px;
    height: 315px;
}